body {
	margin: 0;
}

#container {
	width: 60%;
	margin: 0 auto;
}

/* --------- Generator--------- */

#categories {
	text-align: center;
	margin: 15px auto 0;
}

select {
	display: inline-block;
	margin: 5px 25px;
	height: 2em;
	width: 60%;
	font-size: 1.1em;
	font-family: 'Cabin', sans-serif;
	border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	border: 2px solid #222;
	color: white;
	background-color: hsla(214, 85%, 15%, 0.95);
	text-align: center;
}

select:focus {
	outline: 0;
	box-shadow: 0 1px 3px #000;
	text-align: center;
}

.notSelected {
	text-align: center;
	border: 1px solid #E81C07;
	border-radius: 5px;
	box-shadow: 0px 1px 8px #E81C07;
	transition: border 0.3s ease-in-out;
		-webkit-transition: border 0.3s ease-in;
		-moz-transition: border 0.3s ease-in;
		-ms-transition: border 0.3s ease-in;
		-o-transition: border 0.3s ease-in;
		transition: border 0.3s ease-in;
	transition: box-shadow 0.3s ease-in;
		-webkit-transition: box-shadow 0.3s ease-in-out;
		-moz-transition: box-shadow 0.3s ease-in-out;
		-ms-transition: box-shadow 0.3s ease-in-out;
		-o-transition: box-shadow 0.3s ease-in-out;
}

#button {
	display: block;
	background-color: hsla(142, 85%, 62%, 0.95);
	width: 75%;
	margin: 50px auto;
	padding: 5px 0;
	line-height: 100%;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	color: #fff;
	border-radius: 30px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
	font-family: "Patua One";
	font-size: 2em;
	text-align: center;
}

#button:hover {
	background-color: hsla(146, 85%, 62%, 0.95);
	transition: background-color 0.3s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-ms-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
}

#button:focus {
	outline: 1px solid hsla(142, 85%, 62%, 0.95);
}

/* --------- Text --------- */

#name {
	font-size: 6.5em;
	text-align: center;
	font-family: "Patua One";
	color: #E81C07;
	letter-spacing: .01em;
	text-align: center;
}

#excuse {
	font-size: 2.6em;
	display: inline-block;
	width: 100%;
	text-align: center;
}

/* --------- Media Queries --------- */
